## 순서
1. 컨텐츠기반 추천시스템
2. 컨텐츠를 활용할 수 있는지
3. 어떻게 컨텐츠들이 서로 연관이 있는지 평가하는 방법
4. 근접이웃기반 컨텐츠기반 추천시스템 -> k-nearest neighbor
5. naive bayes classifer -> 베이즈 추천시스템
6. TF-IDF 개념설명 그리고 실습

- 추천시스템 성능 평가 -> RMSE

# 데이터 불러오기

In [17]:
import os
import pandas as pd
import numpy as np
from tqdm import tqdm

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [18]:
ratings_df=pd.read_csv('ratings.csv')
tags_df=pd.read_csv('tags.csv')
movies_df=pd.read_csv("movies.csv")

In [19]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [20]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [21]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

# Genres를 이용한 movie representation

In [22]:
total_count = len(movies_df.index)
total_genres = list(set([genre for sublist in list(map(lambda x: x.split('|'), movies_df['genres'])) for genre in sublist]))

In [23]:
print(f"전체 영화 수: {total_count}")
print(f"장르: {total_genres}")

전체 영화 수: 9742
장르: ['Mystery', 'Horror', 'Comedy', 'Animation', 'IMAX', 'War', 'Thriller', 'Documentary', 'Drama', '(no genres listed)', 'Western', 'Adventure', 'Crime', 'Musical', 'Action', 'Fantasy', 'Film-Noir', 'Romance', 'Children', 'Sci-Fi']

In [10]:
print(len(total_genres))

20

In [24]:
genre_count = dict.fromkeys(total_genres)

for each_genre_list in movies_df['genres']:
    for genre in each_genre_list.split('|'):
        if genre_count[genre] == None:
            genre_count[genre] = 1
        else:
            genre_count[genre] = genre_count[genre]+1
genre_count

{'(no genres listed)': 34,
 'Action': 1828,
 'Adventure': 1263,
 'Animation': 611,
 'Children': 664,
 'Comedy': 3756,
 'Crime': 1199,
 'Documentary': 440,
 'Drama': 4361,
 'Fantasy': 779,
 'Film-Noir': 87,
 'Horror': 978,
 'IMAX': 158,
 'Musical': 334,
 'Mystery': 573,
 'Romance': 1596,
 'Sci-Fi': 980,
 'Thriller': 1894,
 'War': 382,
 'Western': 167}

In [25]:
for each_genre in genre_count:
    genre_count[each_genre] = np.log10(total_count/genre_count[each_genre])
  
genre_count

{'(no genres listed)': 2.457169208193496,
 'Action': 0.7266719338379385,
 'Adventure': 0.8872447746804204,
 'Animation': 1.2026069149931968,
 'Children': 1.1664800458677336,
 'Comedy': 0.41392254164167785,
 'Crime': 0.9098289421369025,
 'Documentary': 1.3451954487495636,
 'Drama': 0.3490620385623247,
 'Fantasy': 1.0971106675631868,
 'Film-Noir': 2.0491288726171324,
 'Horror': 0.9983092704481497,
 'IMAX': 1.7899910382813284,
 'Musical': 1.4649016584241867,
 'Mystery': 1.2304935032683613,
 'Romance': 0.7856152382210405,
 'Sci-Fi': 0.9974220495432562,
 'Thriller': 0.7112681505684965,
 'War': 1.4065847623240424,
 'Western': 1.7659316540881678}

In [26]:
# create genre representations
genre_representation = pd.DataFrame(columns=sorted(total_genres), index=movies_df.index)
for index, each_row in tqdm(movies_df.iterrows()):
    dict_temp = {i: genre_count[i] for i in each_row['genres'].split('|')}
    row_to_add = pd.DataFrame(dict_temp, index=[index])
    genre_representation.update(row_to_add)

genre_representation

9742it [00:45, 213.41it/s]

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,NaN,NaN,0.887245,1.202607,1.16648,0.413923,NaN,NaN,NaN,1.097111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,0.887245,NaN,1.16648,NaN,NaN,NaN,NaN,1.097111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,0.413923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.785615,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,0.413923,NaN,NaN,0.349062,NaN,NaN,NaN,NaN,NaN,NaN,0.785615,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,0.413923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,NaN,0.726672,NaN,1.202607,NaN,0.413923,NaN,NaN,NaN,1.097111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9738,NaN,NaN,NaN,1.202607,NaN,0.413923,NaN,NaN,NaN,1.097111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.349062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,NaN,0.726672,NaN,1.202607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,NaN,NaN,NaN,NaN,NaN,0.413923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Tag를 이용한 Movie Representation

In [27]:
tags_df.head(5)

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [30]:
movies_df.loc[89774]

In [29]:
# get unique tag
tag_column = list(map(lambda x: x.split(','), tags_df['tag']))
unique_tags = list(set(list(map(lambda x: x.strip(), list([tag for sublist in tag_column for tag in sublist])))))

print(unique_tags)

['Lolita theme', 'multiple stories', 'virginity', 'independent film', 'DC', 'Jean Reno', 'alternate reality', 'terrorism', 'BEST PICTURE', 'Shark', 'gruesome', 'Romans', 'foul language', 'S.E. Hinton', 'Amazing Cinematography', 'revolution', 'Michael Bay', 'Hannibal Lecter', 'Deep Throat', 'Psychological Thriller', 'Africa', 'Visually Striking', 'adorable', 'South America', 'Rosebud', 'imaginative', 'stop looking at me swan', 'Jennifer Connelly', 'von Bulow', 'AWESOME', 'disappointing', 'action choreography', 'stiller', 'younger men', 'dumb', 'cult classic', 'tension building', 'Beethoven', 'sequel', 'pop culture references', 'wine', 'whales', 'Rome', 'Mount Rushmore', 'Charlotte Bronte', 'Venice', 'Bittersweet', 'insanity', 'Harrison Ford', 'bittersweet', 'Cerebral', 'Modern war', 'intimate', 'wedding', 'coen brothers', 'leopard', 'ironic', 'prodigies', 'Aardman', 'mel gibson', 'new composer', 'MacBeth', 'claims to be true', 'matchmaker', 'Atmospheric', 'Johnny Depp', 'surrealism', 'Istanbul', 'singers', 'cheeky', 'rasicm', 'conspiracy', 'Trey Parker', 'ROBOTS AND ANDROIDS', 'multiple short stories', 'accident', 'McDonalds', 'Journalism', 'In Netflix queue', 'hostage', 'anti-intellectual', 'film history', 'gold', 'easygoing', 'meaningless violence', 'baseball', 'visually stunning', 'childish naivity', 'Pearl S Buck', 'superman', 'Soundtrack', 'murder', 'Wesley Snipes', 'indie record label', 'Middle East', 'Star Wars', 'drug abuse', 'Holocaust', 'first was much better', 'character study', 'Macaulay Culkin', 'Jessica Alba', 'Stephen King', 'really bad', 'Hammett', 'Unique', 'Mila Kunis', 'circus', 'Classic', 'short films', '2D animation', 'consumerism', 'visually appealing', 'bad science', 'Anne Boleyn', 'suspenseful', 'fatalistic', 'celebrity fetishism', 'Existential', 'train', 'original plot', 'Lloyd Dobbler', 'Disney', 'lawn mower', 'realistic', 'China', 'Harvey Keitel', 'bombs', 'good dialogue', 'holocaust', 'computer animation', 'financial crisis', 'Ben Stiller', 'submarine', 'not linear', 'time-travel', 'symbolic', 'food', 'r:violence', 'retro', 'Post apocalyptic', 'notable soundtrack', 'Batman', 'aliens', 'Edward Norton', 'plot twist', 'deaf', 'austere', 'Tilda Swinton', 'lies', 'Astaire and Rogers', 'heavy metal', 'Eric Bana', 'cruel characters', 'ballet', 'convent', 'lack of plot', 'Australia', 'neo-noir', 'MMA', 'lesbian', 'DC Comics', 'tense', 'robots', 'golf', 'deadpan', 'rabbi', 'political right versus left', 'C.S. Lewis', 'darth vader', 'babies', 'Strangers on a Train', 'sniper', 'Surreal', 'British gangster', 'oil', 'Alicia Vikander', 'great screenplay', 'bizarre', 'slavery', 'Ichabod Crane', 'deafness', 'Nun', 'nightclub', 'stupid', 'May-December romance', 'bromantic', 'sexy', 'ocean', 'alcoholism', 'truth', 'too much love interest', 'off-beat comedy', 'Visually appealing', 'avant-garde romantic comedy', 'Robert Ludlum', 'Simon and Garfunkel', 'spying', 'lack of story', 'Jekyll and Hyde', 'happpiness', 'stupid is as stupid does', 'Not available from Netflix', 'satirical', 'tearjerking', 'travolta', 'spelling bee', 'cia', 'macho', 'aardman', 'aging', 'dark comedy', 'gunfight', 'powerful ending', 'John Travolta', 'Angelina Jolie', 'awkward', 'Revenge', 'Alcatraz', 'entirely dialogue', 'Tom Hanks', 'Jim Morrison', 'drugs & music', 'video', 'moon', 'new society', 'Amtrak', 'screwball', 'Captain America', 'test tag', 'cattle drive', 'hotel', 'e-mail', 'ships', 'space station', 'James Cameron', 'spies', 'ben stiller', 'nuns', 'tom hardy', 'personals ads', 'wry', 'creepy', 'E.M. Forster', 'black comedy', 'Action', 'italy', 'artificial intelligence', 'flood', 'ransom', 'boksdrama', 'pregnancy', 'mystery', 'coma', 'crime scene scrubbing', 'nonsense', 'They Might Be Giants', 'police', 'sophisticated', 'start of a beautiful friendship', 'Pixar', 'space opera', 'mobsters', 'movie business', 'stylized', 'Borg', 'child abuse', 'King Arthur', 'comic book', 'insomnia', '"artsy"', 'Family', 'heroine in tight suit', 'imdb top 250', 'Stock Market', 'noir', 'samurai', 'marvel', 'tragic', 'heist', 'costume drama', 'stop using useless characters for filler', 'Robin Williams', 'bleak', 'books', 'dust bowl', 'brainwashing', 'fantasy world', 'crucifixion', 'eerie', 'Louisa May Alcott', 'disability', 'Peter Pan', 'a clever chef rat', 'double life', 'Natalie Portman', 'multiple storylines', 'court', 'Turkey', 'Emilia Clarke', 'spaghetti western', 'Eva Green', 'Dystopia', 'movies about movies', 'artistic', 'diner', 'Justin Timberlake', 'Van Gogh', 'GIVE ME BACK MY SON!', 'great humor', 'John Malkovich', 'thriller', 'good cinematography', 'existentialism', 'good writing', 'motherhood', 'Shakespeare', 'interesting characters', 'Hearst', 'music business', 'alternate universe', 'chilly', 'Atomic bomb', 'falling', 'Emma', 'cliche characters', 'Agatha Christie', 'sports', 'needed more autobots', 'Hannibal Lector', 'audience intelligence underestimated', 'Backwards. memory', 'Dogs', 'Rob Zombie', 'psychopaths', 'far fetched', '1990s', 'cryptic', 'lawyers', 'the Force', 'art house', 'hippies', 'bad acting', 'black hole', 'R language', 'Jesse Ventura', 'rape', 'sword fight', 'quirky', 'Nudity (Topless)', 'New York City', 'intertwining storylines', 'Colin Farrell', 'knights', 'crude humor', 'Edith Wharton', 'Captain Kirk', 'organised crime', 'Chris Evans', 'teen', 'last man on earth', 'Philip Seymour Hoffman', 'Ed Harris', 'short stories', 'Anne Hathaway', 'intelligent sci-fi', 'transvestite', 'quotable', 'Eccentric', 'Academy award (Best Supporting Actress)', 'franchise', 'Notable Nudity', 'immigration', 'androids', 'James Fennimore Cooper', 'Savannah', 'goretastic', 'daniel radcliffe', 'Scotland', 'cult', 'Dr. Seuss', 'video games', 'Clousseau', 'factory', 'chick flick', 'Ray Bradbury', 'post apocalyptic', 'Saturday Night Live', 'heartwarming', 'Narrative pisstake', 'leonardo DiCarpio', 'fantasy', 'unpredictable', 'trippy', 'atmospheric', 'haunting', 'Christina Ricci', 'Simple', 'Robert Downey Jr.', 'thought-provoking', 'Rita Hayworth can dance!', 'TV', 'Disaster', 'multiple personalities', 'revolutionary', 'Disney animated feature', 'assassin', 'loneliness', 'random', 'Lou Gehrig', 'Jeff Bridges', 'sarcasm', 'planes', 'crazy', 'gun-fu', 'prejudice', 'invisibility', 'nonlinear timeline', 'Disturbing', 'storytelling', 'drugs', 'bears', 'killer', 'insightful', 'humour', 'love', 'lack of development', 'Jack Nicholson', 'Dull', 'villain nonexistent or not needed for good story', 'purposefulness', 'pool', 'Not Seen', 'Animal movie', 'investor corruption', 'android(s)/cyborg(s)', 'bloody', 'blood', 'HOT actress', 'ridiculous', 'lord of the rings', 'procedural', 'space travel', 'modern fantasy', 'post-college', 'Matrix', 'wistful', 'Chuck Palahniuk', 'stranded', 'road trip', 'biking', 'James Franco', 'narrated', 'Nazis', 'Oscar (Best Music - Original Score)', 'cinematography', 'Viggo Mortensen', 'Insanity', 'E. M. Forster', 'romantic', 'old', 'No DVD at Netflix', 'Ghosts', 'out of order', 'FIGHTING THE SYSTEM', 'unique', 'seen more than once', 'bad script', 'narnia', 'abstract', 'not seen', 'Great villain', 'PTSD', 'Creature Feature', 'Missionary', 'unintelligent', 'Harley Quinn', 'Documentary', 'Howard Hughes', 'missionary', 'superficial plot', 'hula hoop', 'good music', 'shipwreck', 'Tolstoy', 'kidnapping', 'Philip K. Dick', 'gentle', 'spacecraft', '06 Oscar Nominated Best Movie - Animation', 'Vulgar', 'conversation', 'Ewan McGregor', 'Sinbad', 'Christopher Nolan', 'tolkien', 'incest', 'AIDs', 'representation of children', 'big corporations', 'a dingo ate my baby', 'superb soundtrack', 'cate blanchett', 'L.A.', 'John Cusack', 'inhumane', 'gore', 'Seth Rogen', 'confrontational', 'Guns', 'Heroic Bloodshed', 'Palahnuik', 'colorful', 'Beautiful', 'Highly quotable', 'witty', 'Exquisite plotting.', 'Gary Oldman', 'statue', 'black humor', 'mice', 'Queen Victoria', 'carnival', 'Teen movie', 'Margot Robbie', 'Dumas', 'britpop', 'Dorothy', 'violent', 'Cult classic', 'robbery', 'dogs', 'Peace Corp', 'conspiracy theory', 'cynical', 'Moving', 'reflective', 'monologue', 'violence', 'nanny', 'dead wife', 'World War II', 'football', 'big boys with guns', 'pizza beer', 'David Fincher', 'biopic', 'high fantasy', 'Scifi masterpiece', 'strange', 'terminal illness', 'Jude Law', 'Shangri-La', 'Comedy', 'Cold War', 'Grace', '70mm', 'Recap', 'California', 'Francis Ford Coppola', 'tobacco', 'imagination', 'Stoner Movie', 'Steven Spielberg', 'r:strong language', 'offensive', 'Norman Bates', 'Toto', 'Union', 'Insane', 'harsh', 'Oscar (Best Cinematography)', 'sexy female scientist', 'Sci-fi', 'Nicolas Cage', 'Jennifer Lawrence', 'prison', "Eugene O'Neill", 'fast-paced', 'pulp', 'Marvel', 'Sexual Humor', 'intellectual', '1980s', 'mathematics', 'scifi cult', 'assassination', 'adultery', 'mental illness', 'Coen Brothers', 'drug overdose', 'adolescence', 'corruption', 'Steve Buscemi', 'American Indians', 'lovely', 'special effects', 'individualism', 'Civil War', 'police corruption', 'surreal', 'clever', 'Christmas', 'Tim Burton', 'TERRORISM', 'widows/widowers', 'Rolling Stone', 'Witty', 'demons', 'bus', 'bromance', 'brutality', 'poor dialogue', 'based on a true story', 'zoe kazan', 'divorce', 'satire', 'cancer', 'Hawkeye', 'suburbia', 'muppets', 'ghosts', 'General Motors', 'Chris Klein', 'silly', 'soundtrack', 'golden watch', 'interracial marriage', 'Oscar Wilde', 'KIDNAPPING', 'ferris wheel', 'technology', 'New York', 'schizophrenia', 'memory', 'space action', 'philosophy', 'Navy', 'classic movie', 'prostitution', 'made me cry', 'stephen king', 'George Clooney', 'economics', 'whimsical', 'unsettling', 'Emma Stone', 'bubba gump shrimp', 'action packed', 'future', 'biography', 'homeless', 'wizards', 'Maggie Gyllenhaal', 'high school', 'cartoon', 'Bible', 'Denzel Washington', 'sad', 'dc comics', 'different', 'NASA', 'confusing ending', 'tricky', 'bad-ass', 'Henry James', 'David Bowie', 'passion', 'Mark Wahlberg', 'shrimp', 'Will Ferrell', 'animation', 'interracial romance', 'weather forecaster', 'emotional', 'bowling', 'Russell Crowe', 'Bugs Bunny', 'Kurt Russell', 'Great Visuals', 'heroic bloodshed', 'camp', 'women', 'Conan', 'tedious', 'irony', 'moving', 'Great performances', 'beautiful visuals', 'scenic', 'intelligent', 'shark', 'I see dead people', 'Nudity (Full Frontal)', 'Katzanzakis', 'Jean Grey', 'Western', 'fairy tales', 'adoption', 'Music', 'Coen Bros', 'werewolf', 'mad scientist', 'remade', 'Guardians of the Galaxy', 'marijuana', 'melancholic', 'Crude humor', 'Joker', 'Harper Lee', 'Black comedy', 'saint', 'dark hero', 'evil children', 'star wars', 'Empire State Building', 'butler', 'arthouse', 'claustrophobic', 'Andy Garcia', 'moody', 'Veterinarian', 'batman', 'suspense', 'political commentary', 'royalty', 'sisterhood', 'cyberpunk', 'scifi', 'religion', 'steve carell', 'bible', 'black and white', 'Watergate', 'humane', 'six-fingered man', 'lions', 'justice', 'bruce willis', 'Canada', 'male nudity', 'Bill Murray', 'Made me cry', 'no dialogue', 'Twist Ending', 'archaeology', 'Jane Austen', 'zither', 'Suspenseful', 'Nabokov', 'Adam Sandler', 'big top', 'solitude', 'shakespeare', 'Alfred Hitchcock', 'Siam', 'quick cuts', 'Heartwarming', 'science fiction', 'r:some violence', 'big budget', 'mermaid', 'best comedy', 'Prince', 'Bad story', 'pigs', 'Henry Darger', 'Kevin Smith', 'free speech', 'swashbuckler', 'chess', 'sofia coppola', 'morality', 'artsy', 'enigmatic', 'Arnold Schwarzenegger', "Harley Quinn's ass", 'transplants', 'vampires', 'Las Vegas', 'Hemingway', 'irreverent', 'workplace', 'amazing dialogues', 'shenanigans', 'Stones of Summer', 'american idolatry', 'trains', 'contemplative', 'city politics', 'lawyer', 'serial killer', 'Christian Bale', 'Cambodia', 'Hugh Jackman', 'multiple roles', 'brothers', 'Luc Besson', 'revenge', 'In Your Eyes', 'interwoven storylines', 'beat poetry', 'visual', 'cool', 'generation X', 'non-linear', 'amazing artwork', 'Nick and Nora Charles', 'gambling', 'remake', '1970s', 'World War I', 'Bechdel Test:Fail', 'asylum', 'ballroom dance', 'Salieri', 'paranoia', 'Michael Cera', 'scary', 'slow', 'Native Americans', 'slow paced', 'Day and Hudson', 'helena bonham carter', 'animal movie', 'adventure', 'Capone', 'SNL', 'Sundance award winner', 'courtroom drama', 'treasure hunt', 'DEPRESSING', 'Butler', 'south park', 'poorly paced', 'Epic', 'Train', 'slow action', 'edward norton', 'big name actors', 'allegorical', 'Stanley Kubrick', 'gritty', 'Kevin Costner', 'parrots', 'anime', 'bad jokes', 'free to download', 'Quirky', 'intense', 'Scott Turow', 'action', 'family', 'Jesse Eisenberg', 'long shots', 'dumpster diving', 'Anthony Hopkins', 'fucked up', 'lyrical', 'bad dialogue', 'genius', 'Brooch', 'Ben Affleck', 'lesbian subtext', 'Dark', 'Homeless', 'human rights', 'uncomfortable', 'wonderwoman', 'space', 'freedom of expression', 'dating', 'gangster', 'stand-up comedy', 'directorial debut', 'reunion', 'dance marathon', 'Jason Segel', 'stupid ending', 'smart', 'gintama', 'Simon Pegg', 'Titanic', 'France', 'rich guy - poor girl', 'Studio Ghibli', 'nonlinear', 'Favelas', 'quirky romantic', 'bad writing', 'Oscar (Best Supporting Actress)', 'Keanu Reeves', 'graphic design', 'humor', 'Tradition!', 'mecha', 'SPACE TRAVEL', 'reciprocal spectator', 'based on a TV show', 'Matt Damon', 'Rachel Weisz', 'mindless one liners', 'Samuel L. Jackson', 'John Goodman', 'aviation', 'Christoph Waltz', 'Great movie', 'children', 'TOGA', 'Bette Davis', 'Nerd', 'genocide', 'psychological', 'mafia', 'ending', 'movies', 'orphans', 'documentary', 'challenging', 'fast paced', 'film noir', 'union', 'enjoyable', 'money', 'hilarious', 'pixar', 'Capote', 'Boston', 'Tom Hardy', 'HORRIBLE ACTING', 'history', 'busniess', 'philosophical issues', 'vertriloquism', 'Hungary', 'Mozart', 'nostalgia', 'fatherhood', 'apocalypse', 'Doc Ock', 'philosopical', 'hugh jackman', 'great ending', 'Metaphorical', 'obsession', 'basketball', 'mythology', 'drama', 'oninous', 'ancient Rome', 'philosophical', 'biblical references', 'Mark Ruffalo', 'unnecessary sequel', 'Gangs', 'Robert De Niro', 'Andy Samberg', 'weak plot', 'television', 'Ghost', 'halloween', 'Afghanistan', 'paranoid', 'Mafia', 'hallucinatory', 'Arthur Miller', 'England', 'relaxing', 'subway', 'los angeles', 'dark fairy tale', '1950s', 'President', 'Hayao Miyazaki', 'innovative', 'twins', 'Moses', 'George Bernard Shaw', 'Nuclear disaster', 'nocturnal', 'teacher', 'Orlando Bloom', 'soccer', 'show business', 'parenthood', "Palme d'Or", 'winona ryder', 'missing children', 'joss whedon', 'Tom Clancy', 'Andrew Lloyd Weber', 'Halloween', 'based on a play', 'Dickens', 'very funny', 'Paul Rudd', 'romantic comedy', 'Graham Greene', 'inspiring', 'Quakers', 'mining', 'Marion Cotillard', 'Jim Carrey', 'Roger Avary', 'Hepburn and Tracy', 'con artists', 'hitman', 'virtual reality', 'tear jerker', 'great acting', 'Politics', 'based on a book', 'Woody Harrelson', 'survival', 'cool style', 'infertility', 'indiana jones', 'kung fu', 'politics', 'ummarti2006', 'societal criticism', 'downbeat', 'dark', 'Something for everyone in this one... saw it without and plan on seeing it with kids!', 'camels', 'amazing', 'teenagers', 'Loretta Lynn', 'Clock', "80's", 'Tolkien', 'real estate', 'sci-fi', 'Bruce Willis', 'Ben Kingsley', 'unconventional', 'Stupid ending', 'stage', 'Wall Street', 'superhero', 'Gulf War', 'slasher', 'Nick Hornby', 'mental hospital', 'Broadway', 'r:graphic sexuality', '2001-like', 'killer-as-protagonist', 'bad', 'stylish', 'doll', 'Rogers and Hammerstein', 'suicide', 'royal with cheese', 'dinosaurs', 'David Thewlis', 'british comedy', 'anthology', 'depression', 'luke skywalker', 'spiders', 'end of the world', 'setting:space/space ship', 'war', 'art', 'espionage', 'oldie but goodie', 'teachers', 'gothic', 'cameo:Whoopi Goldberg', 'Will Smith', 'gun tactics', 'western', 'scandal', 'motherfucker', 'Boxing story', 'bad language', 'Funny', 'British', 'unexplained', 'martial arts', 'ben affleck', 'zombies', 'fast-paced dialogue', 'river', 'surfing', 'colourful', 'unusual', 'mind-bending', 'death penalty', 'stapler', 'bluegrass', 'painter', 'con men', 'boxing', 'pudding', 'large cast', 'Huey Long', 'Sad', 'anti-Semitism', 'bizzare', 'addiction', 'Adventure', 'remix culture', 'jazz', 'cheesy', 'Oscar (Best Actress)', 'weddings', 'preacher', 'building a family', 'lieutenant dan', 'Poor story', 'Audrey Tautou', 'mirrors', 'American propaganda', 'theater', 'blindness', 'business', 'predictable', 'Amish', 'bad humor', 'illusions', 'Nathan Fillion', 'voyeurism', 'spoof', 'ensemble cast', 'memory loss', 'computer', 'music industry', 'teenage pregnancy', 'Firefly', 'freedom', 'McCarthy hearings', 'sentimental', 'geeky', 'Charlize Theron', 'wapendrama', 'jack nicholson', 'harry potter', 'plot holes', 'violence in america', 'journalism', 'Dwayne Johnson', '1960s', 'creativity', 'Marx brothers', 'computers', 'Michael Crichton', 'Magic', 'Michigan', 'nerds', 'new york', 'stupid but funny', 'system holism', 'Death', 'restaurant', 'horror', 'Mrs. DeWinter', 'Poor plot development', 'fighting', 'long takes', 'bad ass', 'hit men', 'horses', 'smart writing', 'Cold', 'reality TV', 'Klingons', 'apes', 'characters', 'radio', 'Judaism', 'mind-blowing', 'blind', 'imaginary friend', 'mindfuck', 'faerie tale', 'rug', 'controversial', 'hip hop', 'self discovery', 'nonlinear narrative', 'Housekeeper', 'white guilt', 'masculinity', 'Halle Berry', 'sisters', 'predictible plot', 'dystopia', 'black-and-white', 'Al Pacino', 'classic', 'exciting', 'awesome', 'overcomplicated', 'George Lucas', 'Jason', 'wrongful imprisonment', 'good and evil', 'fun family movie', 'Vietnam', 'crime', 'Lonesome Polecat', 'Morrow', 'photography', 'lion', 'Juliette Lewis', 'assassin-in-training (scene)', 'Motivational', 'postmodern', 'too long', 'alternate endings', 'epic', 'evolution', 'bad plot', 'Russia', 'immortality', 'independent', 'Adrien Brody', 'Dinosaur', 'autism', 'island', 'beautifully filmed', 'good soundtrack', 'Holy Grail', 'big wave', 'poignant', 'James Stewart', 'elegant', 'r:disturbing violent images', 'Liam Neeson', 'Brittany Murphy', 'uplifting', 'Hollywood', 'daniel craig', 'stone age', 'POW', 'Indonesia', 'Shia LaBeouf', 'game', 'Mystery', 'surprise ending', 'milkshake', 'jon hamm', 'not funny', 'Depressing', 'Humour', 'Police', 'bad music', 'christmas', 'the catholic church is the most corrupt organization in history', 'happy ending', 'sweet', 'sexuality', 'birds', 'disturbing', 'goofy', 'plastic surgery', 'space craft', 'racism', 'priest', 'twist ending', 'military', 'interesting scenario', 'amnesia', 'aquarium', 'moldy', 'Renee Zellweger', 'golfing', 'FBI', 'figure skating', 'melancholy', 'Wizards', 'space epic', 'Seann William Scott', 'prequel', 'original', 'M. Night Shyamalan', 'jay and silent bob', 'beautiful scenery', 'rap', 'acting', 'Sean Connery', 'inspirational', 'mountain climbing', 'cheating', 'domestic violence', 'pageant', 'splatter', 'Priest', 'captain nemo', 'hope', 'Animation', 'dark humor', 'Gambling', 'grim', 'race', 'blood splatters', 'death', 'Quentin Tarantino', 'Medieval', 'Thanos', 'psychedelic', 'Mexico', 'friendship', 'psychiatrist', 'weird', 'Horror', 'Girl Power', 'school', 'mobster', 'photographer', 'opera', 'earnest', 'sex', 'elegiac', 'Tarantino', 'twist', 'marriage', 'Slim Pickens', 'menacing', 'gangs', 'fun', 'love story', 'ark of the covenant', 'class', 'episodic', 'absorbing', 'Ireland', 'brutal', 'Suspense', 'thought provoking', 'Christopher Lloyd', 'confusing', 'kids', 'Peta Wilson', 'tension', 'EPIC', 'seen at the cinema', 'great dialogue', 'India', 'freaks', 'post-apocalyptic', 'secret society', 'complicated', 'humorous', 'governess', 'Arthur C. Clarke', 'futuristic', 'Star Trek', 'Casey Affleck', 'magic board game', 'Andy Kaufman', 'funny', 'symbolism', 'singletons', 'engrossing adventure', 'casual violence', 'jungle', 'ryan reynolds', 'Jake Gyllenhaal', 'superhero team', 'meryl streep', 'Horrid characterisation', 'Dan Aykroyd', 'r:dis

In [30]:
print(len(tag_column))
print(len(unique_tags))

3683
1589

In [31]:
# Compute IDF for tag
total_movie_count = len(set(tags_df['movieId']))
# key: tag, value: number of movies with such tag
tag_count_dict = dict.fromkeys(unique_tags)

for each_movie_tag_list in tags_df['tag']:
    for tag in each_movie_tag_list.split(","):
        if tag_count_dict[tag.strip()] == None:
            tag_count_dict[tag.strip()] = 1
        else:
            tag_count_dict[tag.strip()] += 1

tag_idf = dict()
for each_tag in tag_count_dict:
    tag_idf[each_tag] = np.log10(total_movie_count / tag_count_dict[each_tag])

tag_idf

{'Lolita theme': 3.196452541703389,
 'multiple stories': 3.196452541703389,
 'virginity': 2.895422546039408,
 'independent film': 3.196452541703389,
 'DC': 3.196452541703389,
 'Jean Reno': 2.895422546039408,
 'alternate reality': 2.7193312869837265,
 'terrorism': 2.4974825373673704,
 'BEST PICTURE': 3.196452541703389,
 'Shark': 3.196452541703389,
 'gruesome': 3.196452541703389,
 'Romans': 3.196452541703389,
 'foul language': 3.196452541703389,
 'S.E. Hinton': 3.196452541703389,
 'Amazing Cinematography': 3.196452541703389,
 'revolution': 3.196452541703389,
 'Michael Bay': 2.895422546039408,
 'Hannibal Lecter': 2.895422546039408,
 'Deep Throat': 3.196452541703389,
 'Psychological Thriller': 3.196452541703389,
 'Africa': 2.4974825373673704,
 'Visually Striking': 3.196452541703389,
 'adorable': 3.196452541703389,
 'South America': 2.895422546039408,
 'Rosebud': 3.196452541703389,
 'imaginative': 3.196452541703389,
 'stop looking at me swan': 3.196452541703389,
 'Jennifer Connelly': 3.196452541703389,
 'von Bulow': 3.196452541703389,
 'AWESOME': 3.196452541703389,
 'disappointing': 3.196452541703389,
 'action choreography': 3.196452541703389,
 'stiller': 3.196452541703389,
 'younger men': 3.196452541703389,
 'dumb': 3.196452541703389,
 'cult classic': 3.196452541703389,
 'tension building': 3.196452541703389,
 'Beethoven': 3.196452541703389,
 'sequel': 2.2933625547114453,
 'pop culture references': 3.196452541703389,
 'wine': 3.196452541703389,
 'whales': 3.196452541703389,
 'Rome': 2.7193312869837265,
 'Mount Rushmore': 3.196452541703389,
 'Charlotte Bronte': 3.196452541703389,
 'Venice': 3.196452541703389,
 'Bittersweet': 2.895422546039408,
 'insanity': 2.895422546039408,
 'Harrison Ford': 3.196452541703389,
 'bittersweet': 2.2422100322640643,
 'Cerebral': 3.196452541703389,
 'Modern war': 3.196452541703389,
 'intimate': 3.196452541703389,
 'wedding': 2.4183012913197452,
 'coen brothers': 3.196452541703389,
 'leopard': 3.196452541703389,
 'ironic': 2.895422546039408,
 'prodigies': 3.196452541703389,
 'Aardman': 2.5943925503754266,
 'mel gibson': 3.196452541703389,
 'new composer': 3.196452541703389,
 'MacBeth': 3.196452541703389,
 'claims to be true': 3.196452541703389,
 'matchmaker': 3.196452541703389,
 'Atmospheric': 2.4974825373673704,
 'Johnny Depp': 3.196452541703389,
 'surrealism': 2.895422546039408,
 'Istanbul': 3.196452541703389,
 'singers': 3.196452541703389,
 'cheeky': 3.196452541703389,
 'rasicm': 2.895422546039408,
 'conspiracy': 3.196452541703389,
 'Trey Parker': 3.196452541703389,
 'ROBOTS AND ANDROIDS': 3.196452541703389,
 'multiple short stories': 3.196452541703389,
 'accident': 3.196452541703389,
 'McDonalds': 3.196452541703389,
 'Journalism': 3.196452541703389,
 'In Netflix queue': 1.0791812460476249,
 'hostage': 3.196452541703389,
 'anti-intellectual': 3.196452541703389,
 'film history': 3.196452541703389,
 'gold': 3.196452541703389,
 'easygoing': 3.196452541703389,
 'meaningless violence': 3.196452541703389,
 'baseball': 2.4974825373673704,
 'visually stunning': 2.5943925503754266,
 'childish naivity': 3.196452541703389,
 'Pearl S Buck': 3.196452541703389,
 'superman': 3.196452541703389,
 'Soundtrack': 2.895422546039408,
 'murder': 2.2422100322640643,
 'Wesley Snipes': 3.196452541703389,
 'indie record label': 3.196452541703389,
 'Middle East': 3.196452541703389,
 'Star Wars': 2.895422546039408,
 'drug abuse': 2.895422546039408,
 'Holocaust': 2.155059856545164,
 'first was much better': 3.196452541703389,
 'character study': 2.895422546039408,
 'Macaulay Culkin': 3.196452541703389,
 'Jessica Alba': 2.895422546039408,
 'Stephen King': 2.1172712956557644,
 'really bad': 3.196452541703389,
 'Hammett': 3.196452541703389,
 'Unique': 3.196452541703389,
 'Mila Kunis': 3.196452541703389,
 'circus': 2.5943925503754266,
 'Classic': 3.196452541703389,
 'short films': 3.196452541703389,
 '2D animation': 3.196452541703389,
 'consumerism': 3.196452541703389,
 'visually appealing': 1.9176989407505602,
 'bad science': 3.196452541703389,
 'Anne Boleyn': 3.196452541703389,
 'suspenseful': 2.895422546039408,
 'fatalistic': 3.196452541703389,
 'celebrity fetishism': 3.196452541703389,
 'Existential': 3.196452541703389,
 'train': 2.895422546039408,
 'original plot': 2.895422546039408,
 'Lloyd Dobbler': 3.196452541703389,
 'Disney': 1.8347247056857963,
 'lawn mower': 3.196452541703389,
 'realistic': 3.196452541703389,
 'China': 3.196452541703389,
 'Harvey Keitel': 3.196452541703389,
 'bombs': 3.196452541703389,
 'good dialogue': 2.4974825373673704,
 'holocaust': 2.895422546039408,
 'computer animation': 3.196452541703389,
 'financial crisis': 3.196452541703389,
 'Ben Stiller': 2.5943925503754266,
 'submarine': 2.895422546039408,
 'not linear': 3.196452541703389,
 'time-travel': 2.895422546039408,
 'symbolic': 3.196452541703389,
 'food': 2.7193312869837265,
 'r:violence': 3.196452541703389,
 'retro': 2.895422546039408,
 'Post apocalyptic': 2.5943925503754266,
 'notable soundtrack': 2.895422546039408,
 'Batman': 3.196452541703389,
 'aliens': 2.0203612826477078,
 'Edward Norton': 2.895422546039408,
 'plot twist': 2.895422546039408,
 'deaf': 3.196452541703389,
 'austere': 3.196452541703389,
 'Tilda Swinton': 3.196452541703389,
 'lies': 3.196452541703389,
 'Astaire and Rogers': 2.4183012913197452,
 'heavy metal': 3.196452541703389,
 'Eric Bana': 3.196452541703389,
 'cruel characters': 3.196452541703389,
 'ballet': 2.895422546039408,
 'convent': 3.196452541703389,
 'lack of plot': 3.196452541703389,
 'Australia': 2.196452541703389,
 'neo-noir': 2.895422546039408,
 'MMA': 3.196452541703389,
 'lesbian': 3.196452541703389,
 'DC Comics': 3.196452541703389,
 'tense': 2.2422100322640643,
 'robots': 2.196452541703389,
 'golf': 2.7193312869837265,
 'deadpan': 3.196452541703389,
 'rabbi': 3.196452541703389,
 'political right versus left': 3.196452541703389,
 'C.S. Lewis': 2.895422546039408,
 'darth vader': 2.895422546039408,
 'babies': 2.895422546039408,
 'Strangers on a Train': 3.196452541703389,
 'sniper': 2.895422546039408,
 'Surreal': 3.196452541703389,
 'British gangster': 3.196452541703389,
 'oil': 3.196452541703389,
 'Alicia Vikander': 3.196452541703389,
 'great screenplay': 3.196452541703389,
 'bizarre': 3.196452541703389,
 'slavery': 3.196452541703389,
 'Ichabod Crane': 3.196452541703389,
 'deafness': 3.196452541703389,
 'Nun': 3.196452541703389,
 'nightclub': 2.7193312869837265,
 'stupid': 3.196452541703389,
 'May-December romance': 3.196452541703389,
 'bromantic': 3.196452541703389,
 'sexy': 3.196452541703389,
 'ocean': 3.196452541703389,
 'alcoholism': 2.4974825373673704,
 'truth': 3.196452541703389,
 'too much love interest': 3.196452541703389,
 'off-beat comedy': 2.7193312869837265,
 'Visually appealing': 3.196452541703389,
 'avant-garde romantic comedy': 3.196452541703389,
 'Robert Ludlum': 3.196452541703389,
 'Simon and Garfunkel': 3.196452541703389,
 'spying': 2.7193312869837265,
 'lack of story': 3.196452541703389,
 'Jekyll and Hyde': 3.196452541703389,
 'happpiness': 3.196452541703389,
 'stupid is as stupid does': 3.196452541703389,
 'Not available from Netflix': 2.895422546039408,
 'satirical': 2.895422546039408,
 'tearjerking': 3.196452541703389,
 'travolta': 3.196452541703389,
 'spelling bee': 3.196452541703389,
 'cia': 3.196452541703389,
 'macho': 3.196452541703389,
 'aardman': 3.196452541703389,
 'aging': 3.196452541703389,
 'dark comedy': 1.8742332469694698,
 'gunfight': 3.196452541703389,
 'powerful ending': 2.895422546039408,
 'John Travolta': 3.196452541703389,
 'Angelina Jolie': 3.196452541703389,
 'awkward': 3.196452541703389,
 'Revenge': 3.196452541703389,
 'Alcatraz': 3.196452541703389,
 'entirely dialogue': 3.196452541703389,
 'Tom Hanks': 2.5943925503754266,
 'Jim Morrison': 3.196452541703389,
 'drugs & music': 3.196452541703389,
 'video': 3.196452541703389,
 'moon': 2.895422546039408,
 'new society': 3.196452541703389,
 'Amtrak': 3.196452541703389,
 'screwball': 2.5943925503754266,
 'Captain America': 3.196452541703389,
 'test tag': 3.196452541703389,
 'cattle drive': 3.196452541703389,
 'hotel': 3.196452541703389,
 'e-mail': 3.196452541703389,
 'ships': 3.196452541703389,
 'space station': 3.196452541703389,
 'James Cameron': 3.196452541703389,
 'spies': 3.196452541703389,
 'ben stiller': 3.196452541703389,
 'nuns': 3.196452541703389,
 'tom hardy': 3.196452541703389,
 'personals ads': 2.895422546039408,
 'wry': 3.196452541703389,
 'creepy': 2.2422100322640643,
 'E.M. Forster': 2.895422546039408,
 'black comedy': 2.082509189396552,
 'Action': 2.5943925503754266,
 'italy': 3.196452541703389,
 'artificial intelligence': 2.4974825373673704,
 'flood': 3.196452541703389,
 'ransom': 3.196452541703389,
 'boksdrama': 3.196452541703389,
 'pregnancy': 2.4183012913197452,
 'mystery': 2.4183012913197452,
 'coma': 2.895422546039408,
 'crime scene scrubbing': 3.196452541703389,
 'nonsense': 3.196452541703389,
 'They Might Be Giants': 3.196452541703389,
 'police': 2.351354501689132,
 'sophisticated': 3.196452541703389,
 'start of a beautiful friendship': 3.196452541703389,
 'Pixar': 2.5943925503754266,
 'space opera': 2.4974825373673704,
 'mobsters': 3.196452541703389,
 'movie business': 2.2933625547114453,
 'stylized': 2.2422100322640643,
 'Borg': 3.196452541703389,
 'child abuse': 2.7193312869837265,
 'King Arthur': 2.5943925503754266,
 'comic book': 2.155059856545164,
 'insomnia': 3.196452541703389,
 '"artsy"': 3.196452541703389,
 'Family': 3.196452541703389,
 'heroine in tight suit': 2.895422546039408,
 'imdb top 250': 2.155059856545164,
 'Stock Market': 3.196452541703389,
 'noir': 3.196452541703389,
 'samurai': 2.4974825373673704,
 'marvel': 2.895422546039408,
 'tragic': 2.895422546039408,
 'heist': 2.082509189396552,
 'costume drama': 3.196452541703389,
 'stop using useless characters for filler': 3.196452541703389,
 'Robin Williams': 2.7193312869837265,
 'bleak': 2.895422546039408,
 'books': 2.7193312869837265,
 'dust bowl': 3.196452541703389,
 'brainwashing': 2.895422546039408,
 'fantasy world': 2.7193312869837265,
 'crucifixion': 3.196452541703389,
 'eerie': 2.895422546039408,
 'Louisa May Alcott': 3.196452541703389,
 'disability': 2.351354501689132,
 'Peter Pan': 2.895422546039408,
 'a clever chef rat': 3.196452541703389,
 'double life': 3.196452541703389,
 'Natalie Portman': 3.196452541703389,
 'multiple storylines': 2.7193312869837265,
 'court': 2.1172712956557644,
 'Turkey': 3.196452541703389,
 'Emilia Clarke': 3.196452541703389,
 'spaghetti western': 2.895422546039408,
 'Eva Green': 3.196452541703389,
 'Dystopia': 3.196452541703389,
 'movies about movies': 3.196452541703389,
 'artistic': 2.7193312869837265,
 'diner': 3.196452541703389,
 'Justin Timberlake': 3.196452541703389,
 'Van Gogh': 3.196452541703389,
 'GIVE ME BACK MY SON!': 3.196452541703389,
 'great humor': 3.196452541703389,
 'John Malkovich': 3.196452541703389,
 'thriller': 2.4974825373673704,
 'good cinematography': 3.196452541703389,
 'existentialism': 2.4974825373673704,
 'good writing': 3.196452541703389,
 'motherhood': 2.7193312869837265,
 'Shakespeare': 2.1172712956557644,
 'interesting characters': 3.196452541703389,
 'Hearst': 3.196452541703389,
 'music business': 2.895422546039408,
 'alternate universe': 2.895422546039408,
 'chilly': 3.196452541703389,
 'Atomic bomb': 3.196452541703389,
 'falling': 3.196452541703389,
 'Emma': 3.196452541703389,
 'cliche characters': 3.196452541703389,
 'Agatha Christie': 2.895422546039408,
 'sports': 2.4974825373673704,
 'needed more autobots': 3.196452541703389,
 'Hannibal Lector': 3.196452541703389,
 'audience intelligence underestimated': 2.895422546039408,
 'Backwards. memory': 3.196452541703389,
 'Dogs': 3.196452541703389,
 'Rob Zombie': 2.895422546039408,
 'psychopaths': 2.895422546039408,
 'far fetched': 3.196452541703389,
 '1990s': 3.196452541703389,
 'cryptic': 3.196452541703389,
 'lawyers': 2.4974825373673704,
 'the Force': 3.196452541703389,
 'art house': 3.196452541703389,
 'hippies': 3.196452541703389,
 'bad acting': 2.895422546039408,
 'black hole': 3.196452541703389,
 'R language': 3.196452541703389,
 'Jesse Ventura': 3.196452541703389,
 'rape': 2.895422546039408,
 'sword fight': 3.196452541703389,
 'quirky': 1.8742332469694698,
 'Nudity (Topless)': 3.196452541703389,
 'New York City': 2.895422546039408,
 'intertwining storylines': 3.196452541703389,
 'Colin Farrell': 3.196452541703389,
 'knights': 3.196452541703389,
 'crude humor': 2.7193312869837265,
 'Edith Wharton': 2.895422546039408,
 'Captain Kirk': 3.196452541703389,
 'organised crime': 3.196452541703389,
 'Chris Evans': 2.895422546039408,
 'teen': 2.895422546039408,
 'last man on earth': 2.895422546039408,
 'Philip Seymour Hoffman': 3.196452541703389,
 'Ed Harris': 3.196452541703389,
 'short stories': 3.196452541703389,
 'Anne Hathaway': 2.895422546039408,
 'intelligent sci-fi': 3.196452541703389,
 'transvestite': 3.196452541703389,
 'quotable': 3.196452541703389,
 'Eccentric': 3.196452541703389,
 'Academy award (Best Supporting Actress)': 3.196452541703389,
 'franchise': 3.196452541703389,
 'Notable Nudity': 3.196452541703389,
 'immigration': 3.196452541703389,
 'androids': 3.196452541703389,
 'James Fennimore Cooper': 3.196452541703389,
 'Savannah': 3.196452541703389,
 'goretastic': 3.196452541703389,
 'daniel radcliffe': 3.196452541703389,
 'Scotland': 3.196452541703389,
 'cult': 2.895422546039408,
 'Dr. Seuss': 3.196452541703389,
 'video games': 3.196452541703389,
 'Clousseau': 2.7193312869837265,
 'factory': 2.895422546039408,
 'chick flick': 2.895422546039408,
 'Ray Bradbury': 2.895422546039408,
 'post apocalyptic': 3.196452541703389,
 'Saturday Night Live': 3.196452541703389,
 'heartwarming': 2.2933625547114453,
 'Narrative pisstake': 3.196452541703389,
 'leonardo DiCarpio': 3.196452541703389,
 'fantasy': 2.4183012913197452,
 'unpredictable': 3.196452541703389,
 'trippy': 2.895422546039408,
 'atmospheric': 1.6401500409361018,
 'haunting': 3.196452541703389,
 'Christina Ricci': 2.895422546039408,
 'Simple': 3.196452541703389,
 'Robert Downey Jr.': 2.895422546039408,
 'thought-provoking': 1.816241299991783,
 'Rita Hayworth can dance!': 3.196452541703389,
 'TV': 2.895422546039408,
 'Disaster': 3.196452541703389,
 'multiple personalities': 3.196452541703389,
 'revolutionary': 3.196452541703389,
 'Disney animated feature': 3.196452541703389,
 'assassin': 2.5943925503754266,
 'loneliness': 2.5943925503754266,
 'random': 3.196452541703389,
 'Lou Gehrig': 3.196452541703389,
 'Jeff Bridges': 2.895422546039408,
 'sarcasm': 2.4974825373673704,
 'planes': 3.196452541703389,
 'crazy': 3.196452541703389,
 'gun-fu': 3.196452541703389,
 'prejudice': 3.196452541703389,
 'invisibility': 3.196452541703389,
 'nonlinear timeline': 3.196452541703389,
 'Disturbing': 3.196452541703389,
 'storytelling': 3.196452541703389,
 'drugs': 2.196452541703389,
 'bears': 3.196452541703389,
 'killer': 3.196452541703389,
 'insightful': 3.196452541703389,
 'humour': 3.196452541703389,
 'love': 2.895422546039408,
 'lack of development': 3.196452541703389,
 'Jack Nicholson': 3.196452541703389,
 'Dull': 3.196452541703389,
 'villain nonexistent or not needed for good story': 3.196452541703389,
 'purposefulness': 3.196452541703389,
 'pool': 3.196452541703389,
 'Not Seen': 3.196452541703389,
 'Animal movie': 2.351354501689132,
 'investor corruption': 3.196452541703389,
 'android(s)/cyborg(s)': 3.196452541703389,
 'bloody': 2.7193312869837265,
 'blood': 3.196452541703389,
 'HOT actress': 3.196452541703389,
 'ridiculous': 2.895422546039408,
 'lord of the rings': 3.196452541703389,
 'procedural': 3.196452541703389,
 'space travel': 2.895422546039408,
 'modern fantasy': 3.196452541703389,
 'post-college': 3.196452541703389,
 'Matrix': 3.196452541703389,
 'wistful': 3.196452541703389,
 'Chuck Palahniuk': 3.196452541703389,
 'stranded': 3.196452541703389,
 'road trip': 3.196452541703389,
 'biking': 3.196452541703389,
 'James Franco': 2.895422546039408,
 'narrated': 2.895422546039408,
 'Nazis': 2.895422546039408,
 'Oscar (Best Music - Original Score)': 3.196452541703389,
 'cinematography': 2.196452541703389,
 'Viggo Mortensen': 3.196452541703389,
 'Insanity': 3.196452541703389,
 'E. M. Forster': 3.196452541703389,
 'romantic': 2.895422546039408,
 'old': 3.196452541703389,
 'No DVD at Netflix': 3.196452541703389,
 'Ghosts': 3.196452541703389,
 'out of order': 3.196452541703389,
 'FIGHTING THE SYSTEM': 3.196452541703389,
 'unique': 2.5943925503754266,
 'seen more than once': 2.895422546039408,
 'bad script': 2.895422546039408,
 'narnia': 3.196452541703389,
 'abstract': 3.196452541703389,
 'not seen': 3.196452541703389,
 'Great villain': 3.196452541703389,
 'PTSD': 3.196452541703389,
 'Creature Feature': 3.196452541703389,
 'Missionary': 3.196452541703389,
 'unintelligent': 3.196452541703389,
 'Harley Quinn': 3.196452541703389,
 'Documentary': 3.196452541703389,
 'Howard Hughes': 3.196452541703389,
 'missionary': 3.196452541703389,
 'superficial plot': 3.196452541703389,
 'hula hoop': 3.196452541703389,
 'good music': 3.196452541703389,
 'shipwreck': 3.196452541703389,
 'Tolstoy': 3.196452541703389,
 'kidnapping': 2.4183012913197452,
 'Philip K. Dick': 3.196452541703389,
 'gentle': 3.196452541703389,
 'spacecraft': 3.196452541703389,
 '06 Oscar Nominated Best Movie - Animation': 2.7193312869837265,
 'Vulgar': 3.196452541703389,
 'conversation': 3.196452541703389,
 'Ewan McGregor': 3.196452541703389,
 'Sinbad': 3.196452541703389,
 'Christopher Nolan': 2.7193312869837265,
 'tolkien': 3.196452541703389,
 'incest': 3.196452541703389,
 'AIDs': 2.895422546039408,
 'representation of children': 3.196452541703389,
 'big corporations': 3.196452541703389,
 'a dingo ate my baby': 3.196452541703389,
 'superb soundtrack': 3.196452541703389,
 'cate blanchett': 3.196452541703389,
 'L.A.': 2.895422546039408,
 'John Cusack': 3.196452541703389,
 'inhumane': 3.196452541703389,
 'gore': 3.196452541703389,
 'Seth Rogen': 2.5943925503754266,
 'confrontational': 2.895422546039408,
 'Guns': 3.196452541703389,
 'Heroic Bloodshed': 3.196452541703389,
 'Palahnuik': 3.196452541703389,
 'colorful': 3.196452541703389,
 'Beautiful': 2.7193312869837265,
 'Highly quotable': 2.7193312869837265,
 'witty': 2.4183012913197452,
 'Exquisite plotting.': 3.196452541703389,
 'Gary Oldman': 3.196452541703389,
 'statue': 3.196452541703389,
 'black humor': 3.196452541703389,
 'mice': 3.196452541703389,
 'Queen Victoria': 3.196452541703389,
 'carnival': 3.196452541703389,
 'Teen movie': 3.196452541703389,
 'Margot Robbie': 3.196452541703389,
 'Dumas': 3.196452541703389,
 'britpop': 3.196452541703389,
 'Dorothy': 3.196452541703389,
 'violent': 2.5943925503754266,
 'Cult classic': 3.196452541703389,
 'robbery': 3.196452541703389,
 'dogs': 2.5943925503754266,
 'Peace Corp': 3.196452541703389,
 'conspiracy theory': 2.895422546039408,
 'cynical': 2.895422546039408,
 'Moving': 3.196452541703389,
 'reflective': 2.895422546039408,
 'monologue': 3.196452541703389,
 'violence': 2.2933625547114453,
 'nanny': 3.196452541703389,
 'dead wife': 3.196452541703389,
 'World War II': 2.2422100322640643,
 'football': 2.7193312869837265,
 'big boys with guns': 3.196452541703389,
 'pizza beer': 3.196452541703389,
 'David Fincher': 3.196452541703389,
 'biopic': 2.4974825373673704,
 'high fantasy': 3.196452541703389,
 'Scifi masterpiece': 3.196452541703389,
 'strange': 3.196452541703389,
 'terminal illness': 2.7193312869837265,
 'Jude Law': 2.895422546039408,
 'Shangri-La': 3.196452541703389,
 'Comedy': 2.5943925503754266,
 'Cold War': 2.7193312869837265,
 'Grace': 3.196452541703389,
 '70mm': 3.196452541703389,
 'Recap': 3.196452541703389,
 'California': 3.196452541703389,
 'Francis Ford Coppola': 3.196452541703389,
 'tobacco': 3.196452541703389,
 'imagination': 2.895422546039408,
 'Stoner Movie': 3.196452541703389,
 'Steven Spielberg': 2.895422546039408,
 'r:strong language': 3.196452541703389,
 'offensive': 2.895422546039408,
 'Norman Bates': 3.196452541703389,
 'Toto': 3.196452541703389,
 'Union': 3.196452541703389,

In [32]:
len(tag_idf.keys())

1589

In [33]:
# Create movie representations
tag_representation = pd.DataFrame(columns=sorted(unique_tags), index=list(set(tags_df['movieId'])))
for name, group in tqdm(tags_df.groupby(by='movieId')):
    temp_list = list(map(lambda x: x.split(','), list(group['tag'])))
    temp_tag_list = list(set(list(map(lambda x: x.strip(), list([tag for sublist in temp_list for tag in sublist])))))

    dict_temp = {i: tag_idf[i.strip()] for i in temp_tag_list}
    row_to_add = pd.DataFrame(dict_temp, index=[group['movieId'].values[0]])
    tag_representation.update(row_to_add)

tag_representation = tag_representation.sort_index(0)
tag_representation

100%|██████████| 1572/1572 [04:04<00:00,  6.43it/s]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_index will be keyword-only
  # This is added back by InteractiveShellApp.init_path()

,"""artsy""",06 Oscar Nominated Best Movie - Animation,1900s,1920s,1950s,1960s,1970s,1980s,1990s,2001-like,...,women,wonderwoman,workplace,writing,wrongful imprisonment,wry,younger men,zither,zoe kazan,zombies
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- 예시: 어떤 영화에 대해서 어떤 tag들이 있는지.

In [34]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
tag_representation.loc[1].dropna()

fun      2.497483
pixar    2.895423
Name: 1, dtype: object

In [36]:
tag_representation.loc[2].dropna()

Robin Williams      2.719331
fantasy             2.418301
game                3.196453
magic board game    3.196453
Name: 2, dtype: object

In [37]:
print(genre_representation.shape)
print(tag_representation.shape)

(9742, 20)
(1572, 1589)

# Final Movie Represenation

- genre와 tag로 만들어진 representation을 합쳐서 각 movie의 vector로 만든다

In [38]:
movie_representation = pd.concat([genre_representation, tag_representation], axis=1).fillna(0)
print(movie_representation.shape)
print(movie_representation.describe())

(10053, 1609)
       (no genres listed)        Action     Adventure     Animation  \
count        10053.000000  10053.000000  10053.000000  10053.000000
mean             0.008310      0.132135      0.111468      0.073092
std              0.142663      0.280298      0.294080      0.287344
min              0.000000      0.000000      0.000000      0.000000
25%              0.000000      0.000000      0.000000      0.000000
50%              0.000000      0.000000      0.000000      0.000000
75%              0.000000      0.000000      0.000000      0.000000
max              2.457169      0.726672      0.887245      1.202607

           Children        Comedy         Crime   Documentary         Drama  \
count  10053.000000  10053.000000  10053.000000  10053.000000  10053.000000
mean       0.077046      0.154650      0.108513      0.058877      0.151423
std        0.289732      0.200251      0.294893      0.275212      0.173003
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.413923      0.000000      0.000000      0.349062
max        1.166480      0.413923      0.909829      1.345195      0.349062

            Fantasy  ...         women   wonderwoman     workplace  \
count  10053.000000  ...  10053.000000  10053.000000  10053.000000
mean       0.085014  ...      0.000318      0.000318      0.000318
std        0.293345  ...      0.031880      0.031880      0.031880
min        0.000000  ...      0.000000      0.000000      0.000000
25%        0.000000  ...      0.000000      0.000000      0.000000
50%        0.000000  ...      0.000000      0.000000      0.000000
75%        0.000000  ...      0.000000      0.000000      0.000000
max        1.097111  ...      3.196453      3.196453      3.196453

            writing  wrongful imprisonment           wry   younger men  \
count  10053.000000           10053.000000  10053.000000  10053.000000
mean       0.000811               0.000318      0.000318      0.000318
std        0.046971               0.031880      0.031880      0.031880
min        0.000000               0.000000      0.000000      0.000000
25%        0.000000               0.000000      0.000000      0.000000
50%        0.000000               0.000000      0.000000      0.000000
75%        0.000000               0.000000      0.000000      0.000000
max        2.719331               3.196453      3.196453      3.196453

             zither     zoe kazan       zombies
count  10053.000000  10053.000000  10053.000000
mean       0.000318      0.000318      0.001203
std        0.031880      0.031880      0.053921
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000
max        3.196453      3.196453      2.418301

[8 rows x 1609 columns]

# Contents 유사도 평가

- Cosine similarity를 사용

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

def cos_sim_matrix(a, b):
    cos_sim = cosine_similarity(a, b)
    result_df = pd.DataFrame(data=cos_sim, index=[a.index])

    return result_df

In [40]:
print(movie_representation.head())

   (no genres listed)  Action  Adventure  Animation  Children    Comedy  \
0                 0.0     0.0   0.887245   1.202607   1.16648  0.413923
1                 0.0     0.0   0.887245   0.000000   1.16648  0.000000
2                 0.0     0.0   0.000000   0.000000   0.00000  0.413923
3                 0.0     0.0   0.000000   0.000000   0.00000  0.413923
4                 0.0     0.0   0.000000   0.000000   0.00000  0.413923

   Crime  Documentary     Drama   Fantasy  ...  women  wonderwoman  workplace  \
0    0.0          0.0  0.000000  1.097111  ...    0.0          0.0        0.0
1    0.0          0.0  0.000000  1.097111  ...    0.0          0.0        0.0
2    0.0          0.0  0.000000  0.000000  ...    0.0          0.0        0.0
3    0.0          0.0  0.349062  0.000000  ...    0.0          0.0        0.0
4    0.0          0.0  0.000000  0.000000  ...    0.0          0.0        0.0

   writing  wrongful imprisonment  wry  younger men  zither  zoe kazan  \
0      0.0                    0.0  0.0          0.0     0.0        0.0
1      0.0                    0.0  0.0          0.0     0.0        0.0
2      0.0                    0.0  0.0          0.0     0.0        0.0
3      0.0                    0.0  0.0          0.0     0.0        0.0
4      0.0                    0.0  0.0          0.0     0.0        0.0

   zombies
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0

[5 rows x 1609 columns]

In [41]:
cs_df = cos_sim_matrix(movie_representation, movie_representation)
cs_df.head()

,0,1,2,3,4,5,6,7,8,9,...,10043,10044,10045,10046,10047,10048,10049,10050,10051,10052
0,1.000000,0.35465,0.013092,0.016636,0.185686,0.0,0.086555,0.364907,0.0,0.261682,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.354650,1.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.191875,0.0,0.137597,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.013092,0.00000,1.000000,0.029072,0.070506,0.0,0.151256,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.016636,0.00000,0.029072,1.000000,0.089592,0.0,0.192203,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.185686,0.00000,0.070506,0.089592,1.000000,0.0,0.466135,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
cs_df.shape

(10053, 10053)

In [43]:
print(cs_df.shape)
print(cs_df[1].sort_values(ascending=False))

(10053, 10053)
1         1.000000
122918    0.589114
3574      0.431835
8719      0.431835
1799      0.431835
            ...
3711      0.000000
3710      0.000000
3709      0.000000
3708      0.000000
193565    0.000000
Name: 1, Length: 10053, dtype: float64

In [44]:
print(movies_df.loc[1])
print(movies_df.loc[46972])
print(movies_df.loc[126142])
print(movies_df.loc[2043])
print(movies_df.loc[2399])

# 추천시스템의 성능 평가

- 학습셋과 테스트셋을 나눈다.
- 테스트셋에서 예측한 평점과 실제 평점의 RMSE를 구한다.

In [45]:
train_df, test_df = train_test_split(ratings_df, test_size=0.2, random_state=1234)
print(train_df.shape)
print(test_df.shape)

(80668, 4)
(20168, 4)

In [46]:
test_userids = list(set(test_df.userId.values))
test_userids

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610]

In [50]:
result_df = pd.DataFrame()

for user_id in tqdm(test_userids):
    user_record_df = train_df.loc[train_df.userId == int(user_id), :]
    
    user_sim_df = cs_df.loc[user_record_df['movieId']]  # (n, 9742); n은 userId가 평점을 매긴 영화 수
    user_rating_df = user_record_df[['rating']]  # (n, 1)
    sim_sum = np.sum(user_sim_df.T.to_numpy(), -1)  # (9742, 1)
    # print("user_id=", i, user_record_df.shape, user_sim_df.T.shape, user_rating_df.shape, sim_sum.shape)

    prediction = np.matmul(user_sim_df.T.to_numpy(), user_rating_df.to_numpy()).flatten() / (sim_sum+1) # (9742, 1)

    prediction_df = pd.DataFrame(prediction, index=cs_df.index).reset_index()
    prediction_df.columns = ['movieId', 'pred_rating']    
    prediction_df = prediction_df[['movieId', 'pred_rating']][prediction_df.movieId.isin(test_df[test_df.userId == user_id]['movieId'].values)]

    temp_df = prediction_df.merge(test_df[test_df.userId == user_id], on='movieId')
    result_df = pd.concat([result_df, temp_df], axis=0)

In [48]:
result_df.head(10)

   movieId  pred_rating  userId  rating  timestamp
0        1     3.386474       1     4.0  964982703
1       50     3.228582       1     5.0  964982931
2      216     3.570482       1     5.0  964981208
3      223     3.500763       1     3.0  964980985
4      231     4.127854       1     5.0  964981179
5      235     3.925601       1     4.0  964980908
6      316     3.758252       1     3.0  964982310
7      457     3.538283       1     5.0  964981909
8      543     3.600049       1     4.0  964981179
9      592     3.776538       1     4.0  964982271

In [49]:
mse = mean_squared_error(y_true=result_df['rating'].values, y_pred=result_df['pred_rating'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

1.056850353941454 1.028032272811245